
.active-link {
    color: rgb(143, 6, 6);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-link{
    color: rgb(87, 7, 7);
    font-weight: bold;
}
.nav-logo{
    color: rgb(87, 7, 7);
    font-weight: bold;
    font-size: 20px;
}

  .section-showcase  {
    padding: flex;
    margin: 20px;
    background: url(../img/site1.jpg);
    background-blend-mode:difference;
    min-height: 500px;
    background-position:center;
    background-size:cover;
    position: relative;
    color: rgb(143, 6, 6);
    font-family: Arial, Geneva, sans-serif;
    text-align: center;
    font-style: oblique;
    font-size: 20px;
    text-shadow: 2px 2px 2px;
    text-transform:capitalize;

  }
  .section-showcase h1::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
     -webkit-text-stroke: 2px;
     animation: data-text 10s linear infinite;
  }
 
  @keyframes data-text {
      0%, 20%, 100%
      {
          width: 0;
      }
      70%, 90%
      {
          width: 100%;
      }
  }

  .line {
      width:100%;
      height: 5px;
      position: relative;
      background: rgb(87, 7, 7);
  }
  .caption1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px;
      text-shadow: 2px 2px 2px rgb(156, 16, 16);
      color: rgb(87, 7, 7);
  }
  .caption2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: rgb(17, 15, 15);
}
.caption3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bold;
}
.caption4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black;
}
.caption5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgb(156, 16, 16);
    color: rgb(87, 7, 7);
}
.caption6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: rgb(87, 7, 7);
}


.footer-caption {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: black
}


.slider .indicators .active {
    background-color: rgb(87, 7, 7) !important;
    margin: 0px 12px;
}


.timepicker-digital-display{
    background-color: red!important;
}
.timepicker-digital-display{
    background:rgb(87, 7, 7) !important;
}
.timepicker-canvas line{
   stroke: rgb(87, 7, 7) !important;
}
   .timepicker-close{
   color:rgb(87, 7, 7) !important;
}
.timepicker-tick {
   color:rgb(87, 7, 7) !important;
}

.element.style {
    visibility: visible;
}
.timepicker-dial .timepicker-hour {
    background-color: rgb(87, 7, 7) !important;
}
.timepicker-minutes {
    visibility: hidden;
}
.timepicker-canvas, .timepicker-dial {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.datepicker-date-display {
    background-color:rgb(87, 7, 7) !important;
    color:rgb(17, 15, 15) !important;
}

.datepicker-date-display .year-text {
    color:rgb(17, 15, 15) !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color:rgb(17, 15, 15) !important;
}

.datepicker-table td.is-today {
    color: rgb(87, 7, 7) !important;
}
.input-field>label {
    color: #0f0e0e !important;
    font-size: 15px;
}

.card {
    background-color: rgb(87, 7, 7) !important;
    color: black;
    font-weight:bolder
}

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: rgb(87, 7, 7) !important;
}

.container-banner {
    color: rgb(87, 7, 7);
    background-color: black;
    padding: 50px;
    border: 2px dashed rgb(87, 7, 7);
    text-align: center;
}

.form {
    background-color:rgb(87, 7, 7); 
    font-weight: bolder;
    font-size: large;
    color: rgb(160, 157, 157);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blink {
    text-transform: uppercase;
    animation: blink 2s linear infinite;
    color: rgba(red, green, blue, alpha);
}
@keyframes blink {
    0% {opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}


#slider {
    margin:auto;
    width: auto;
    height: 800px;
    margin-top:20px;
}
#slider a img {
    padding: 10px;
    border: 1px solid black ;
    background: rgb(87, 7, 7); 
    width: 800px;
    height: 400px;
}
#slider a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 2s ;
    z-index:20;
}
#slider a:nth-of-type(2) {
    z-index:10;
}

#slider a:nth-of-type(n+3) {
    display: none;
}

@keyframes fader {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
